.bookmark {
    max-width: 450px;
    background-color: rgb(229, 228, 228);
}

.bookmark__image {
    width: 50px;
    position: relative;
    right: -164px;
    top: -2px;
}

.bookmark__paragraph {
    display: flex;
    flex-direction: column;
}

.bookmark__image-down {
    max-width: 450px;
    border-radius: 5px;
}

.bookmark__text {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin: 0;
}

.bookmark__text-organizate {
    padding-bottom: 10px;
}

.bookmark__text-phone {
    padding-top: 10px;
    padding-bottom: 10px;
}