.dress-code {
    margin: 0 auto;
    max-width: 1280px;
    text-align: center;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #353535;
    color: white;
}

.dress-code__title {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 200;
}

.dress-code__list {
    max-width: 1000px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(30%,1fr));
    grid-auto-flow: dense;
}

.dress-code__image {
    width: 98%;
    object-fit: cover;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.dress-code__image.visible {
    opacity: 1;
    transform: translateY(0);
}

.dress-code__image-color {
    max-width: 90%;
}

.dress-code__paragraph {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 25px;
    padding-bottom: 15px;
    font-weight: 200;
}

.dress-code__paragraph-down {
    margin: 0;
    padding-bottom: 15px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 30px;
    font-weight: 200;
}

.dress-code__text {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
}

.dress-code__text-girl {
    padding-top: 20px;
    font-size: 38px;
    font-weight: 200;
}

.dress-code__text-color {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 28px;
    font-weight: 200;
}

.dress-code__text-boy {
    font-weight: 200;
    font-size: 38px;
}

@media (max-width: 875px){
    .dress-code__list {
       grid-gap: 5px; 
    }
    .dress-code__paragraph {
        font-size: 20px;
    }
    .dress-code__paragraph-down {
        font-size: 20px;
    }
    .dress-code__text-girl {
        font-size: 25px;
    }
    .dress-code__text-boy {
        font-size: 25px;
    }
}

@media (max-width: 580px){
    .dress-code__paragraph {
        max-width: 420px;
    }
    .dress-code__list {
        grid-gap: 1.5px;
    }
}

@media (max-width: 380px){

}