.program{
    width: 450px;
    background-color: #353535;
    color: white;
    border-radius: 5px;
}

.program__list {
    margin-left: 30px;
    list-style: none;
    padding: 0;
    max-width: 400px;
}

.program_time {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    width: 380px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    align-items: flex-start;
}

.program__description {
    margin: 0;
}

.program__title {
    padding-top: 30px;
    margin: 0;
    margin-left: 12px;
    padding-left: 25px;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    width: 400px;
    display: flex;
}

.program__vector {
    max-width: 450px;
    position: relative;
    top: -25px;
}

.program__vector-2 {
    max-width: 450px;
    transform: rotate(180deg);
    position: relative;
    top: 37px;
}