.program {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #353535;
    color: white;
    border-radius: 5px;
    position: relative;
}

.program__flex {
    display: flex;
}

.program__title {
    padding-top: 30px;
    margin: 0;
    padding-left: 35px;
    font-size: 58px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.program__vector {
    max-width: 100%;
    position: relative;
    top: -62px;
    z-index: 0;
}

.program__vector-2 {
    max-width: 100%;
    transform: rotate(180deg);
    position: relative;
    top: 67px;
}

.program__time-flex {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    width: 85%;
}

.program__time {
    font-size: 47px;
    padding-left: 15px;
}

.program__dash {
    padding-left: 20px;
    padding-right: 20px;
}

.program__item-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 48px;
}

.program__paragraph-up {
    padding-bottom: 30px;
    font-style: italic;
    font-size: 37px;
    margin: 0;
}

.program__paragraph-down {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    margin: 0;
    font-size: 18px;
}

.program__list-flex {
    padding-left: 12px;
    width: 95%;
    z-index: 2;
    position: relative;
}

@media(max-width: 900px) {
    .program__flex {
        display: block;
    }
}

@media(max-width: 700px) {
    .program__vector {
        top: -43px; 
    }

    .program__vector-2 {
        top: 37px;
    }
}

@media(max-width: 480px) {
    .program__vector {
        top: -27px; 
    }
}

@media (max-width: 400px) {
    .program__title {
        font-size: 20px; 
    }

    .program__vector-2 {
        top: 31px;
    }
}

@media (max-width: 380px){
    .program__time {
        font-size: 20px;
        padding-left: 35px; 
    }
    
    .program__paragraph-up {
        padding-bottom: 5px;
    }
    
    .program__paragraph-up {
        font-size: 23px;
    }
    
    .program__item-flex {
        padding-top: 7px;
    }
}