.survey {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #353535;
    color: white;
    align-items: center;
    text-align: center;
}

.survey__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.survey__flex-list {
    display: flex;
    font-size: 42px;
}

.survey__text {
    font-size: 50px;
}

.survey__radio {
    width: 40px;
    height: 40px;
}

.survey__checkbox {
    margin-left: 30px;
    width: 40px;
    height: 40px;
}

.survey__list, .survey__form-name, .survey__form-rsvp {
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    overflow: hidden;
}

.survey__list-hidden {
    max-height: 0;
    opacity: 0;
}

.survey__list-visible {
    max-height: 500px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.survey__button-disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    opacity: 0.6;
}


.survey__title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 30px;
}

.survey__input-text {
    width: 80%;
    height: 40px;
    border: 0;
    background-color: #353535;
    border-bottom: solid 1px white;
    margin-bottom: 20px;
    outline: none;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 39px;
}

.survey__text-go {
    font-size: 62px;
}

.survey__button {
    margin-bottom: 50px;
    width: 350px;
    height: 40px;
    background-color: #353535;
    border: 0;
    border: solid 1px white;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 300;
}
.survey__radio-text {
    display: flex;
    margin: 0;
    padding-left: 5px;
    text-align: center;
    align-items: center;
}

@media(max-width: 890px) {
    .survey__text {
        font-size: 37px;
    }
    .survey__checkbox {
        margin-left: 30px;
        width: 20px;
        height: 20px;
    }
    .survey__flex-list {
        font-size: 31px;
    }
}

@media(max-width: 535px) {
    .survey__text {
        font-size: 30px;
    }
}

@media(max-width: 380px) {
    .survey__text {
        font-size: 20px;
    }
    .survey__button {
        width: 90%;
    }
    .survey__input-text {
        width: 90%;
    }
    .survey__input-text {
        width: 90%;
    }
}

.form__survey {
    width: 95%;
    height: 1050px;
    margin: 0;
    border: 0;
}