.place__background {
    background-color: rgb(229, 228, 228);
}

.place {
    margin: 0 auto;
    background-color: rgb(229, 228, 228);
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 140px;
    padding-bottom: 50px;
}

.place__text-flex {
    text-align: center;
}

.place__title {
    font-size: 50px;
    margin: 0;
}

.place__paragraph {
    margin: 0;
    padding-top: 15px;
    max-width: 380px;
    font-size: 20px;
}

.place__map {
    border: 0;
}

@media (max-width: 780px){
    .place {
        flex-direction: column;
        padding-top: 40px;
    }
    .place__paragraph {
        padding-bottom: 15px;
    }
    .place__title {
        font-size: 45px;
    }
}

@media (max-width: 375px){
    .place__map {
        max-width: 280px;
    }
    .place__title {
        font-size: 35px;
    }
    .place__paragraph {
        font-size: 15px;
        max-width: 310px;
    }
}