.place {
    background-color: rgb(229, 228, 228);
    max-width: 450px;
}

.place__title {
    margin: 0;
    padding-top: 40px;
    font-family: "Oswald", sans-serif;
    font-size: 37px;
    font-weight: 300;
}

.place__paragraph {
    margin: 0;
    padding-bottom: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
}

.place-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 47px;
}

@media (max-width: 380px){
    .place__title {
        font-size: 30px;
    }
    
    .place__map {
        width: 200px;
    }
}