.place {
    max-width: 450px;
    background-color: rgb(229, 228, 228);
    padding-bottom: 30px;
}

.place__title {
    margin: 0;
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
    font-family: "Oswald", sans-serif;
    font-size: 37px;
    font-weight: 300;
}

.place__paragraph {
    margin: 0;
    padding-bottom: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    display: flex;
    padding-left: 20px;
}