.header {
    max-width: 1280px;
    background-color: rgb(229, 228, 228);
    position: relative;
    z-index: 1;
}

.header__image {
    width: 98%;
}

.header__title {
    position: fixed;
    top: 150px;
    left: 92px;
    font-size: 30px;
}

.header__name {
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: rgb(85, 83, 81);
    position: relative;
}

.header__date {
    margin: 0;
    font-family: "Oswald", sans-serif;
    color: rgb(85, 83, 81);
    font-size: 20px;
    position: relative;
}

/* 

@media (max-width: 400px){
    .header__name {
        font-size: 20px;
    } 
}

.header__date {
    margin: 0;
    padding-top: 10px;
    font-family: "Oswald", sans-serif;
    color: rgb(85, 83, 81);
    font-size: 20px;
} */

@media (max-width: 1000px){
    .header__title {
        font-size: 20px;
    } 
}

@media (max-width: 450px){
    .header__title {
        font-size: 15px;
    }
}

@media (max-width: 350px){
    .header__title {
        font-size: 10px;
        top: 69px;
        left: 18px;
    }
}