.header {
    position: relative;
    background-color: rgb(229, 228, 228);
    max-width: 450px;
}

.header__image {
    width: 95%;
    height: 520px;
    object-fit: cover;
}

.header__title {
    top: -524px;
    left: -72px; 
    position: relative;
}

.header__name {
    margin: 0;
    padding-top: 61px;
    font-family: "Oswald", sans-serif;
    color: rgb(85, 83, 81);
}

@media (max-width: 400px){
    .header__name {
        font-size: 20px;
    } 
}

.header__date {
    margin: 0;
    padding-top: 10px;
    font-family: "Oswald", sans-serif;
    color: rgb(85, 83, 81);
    font-size: 20px;
}