.footer {
    margin: 0 auto;
    max-width: 1280px;
    background-color: rgb(229, 228, 228);
    padding-top: 10px;
    text-align: center;
}

.footer__text {
    margin: 0;
}

.footer__image {
    width: 100px; /* Установите размер изображения по своему усмотрению */
    height: auto;
    animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1.1);
    }
}